*{
    font-family: 'Quicksand', cursive;
}
h1{
    margin-bottom: 3rem;
    color: white;
}

body > .container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 80px 100px 2fr 50px;
    min-height: 100vh;
}

header{
    grid-area:  1 / 1 / 2 / 4;
    margin: 1em;
}

button{
    cursor: pointer;
    padding: 10px;
    border-style: none;
    border-radius: 2px;
    background-color: #0065a2;
}
button:hover{
    color: orange;
}
button a{
    -webkit-appearance: button;
    -moz-appearance: button;
    color: #f1f1f1;
}

a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.container {

    margin: 1em;
    padding: 5px;
}

main{
    margin: 1em;
    grid-area:  3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
}

.flash{
    display: flex;
    flex-direction: column;
    grid-area: 2 / 2 / 2 / 3;
    padding: 1rem;

    font-size: 1.2em;

    text-align: center;
    justify-content: center;
}

.flash-success{
    background-color: lightgreen;
}

.flash-error{
    background-color: indianred;
}

.adminVille{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

footer{
    grid-area:  4 / 1 / 5 / 4;
}

footer > section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer div{
    display: flex;
    align-items: center;
}