.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

nav {
    display: flex;
    justify-content: space-between;
}

.flash{
    padding: 1rem;
}

.flash-success{
    background-color: lightgreen;
}

.flash-error{
    background-color: indianred;
}

.sortieContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sortie{
    display: flex;
    justify-content: space-between;
}

.adminVille{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@media screen and (min-width: 700px) {

}