.adminVille{
    border-color: black;
    border-style: solid;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    margin: 10px;
    background-color: #8FAFC07F;
}
form{
    display: flex;
    align-items: center;
}
.titre{
    display: flex;
    align-items: center;
    border-bottom: solid;
    margin-bottom: 1rem;
}
.divVille{
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.modification{
    display: none;
    align-items: center;
    margin: 10px;
}
.label-ville {
    display: flex;
    align-items: center;
    margin: 10px;
}
.ville-button {
    display: flex;
    flex-direction: row;
    border-left: solid;
}
.baseForm .form-button-modifer{
    background-color: #8ebf42;
    font-weight: bold;
    color: white;
}
.baseForm .form-button-supprimer{

    background-color: #cc0000;
    font-weight: bold;
    color: white;
}
p{
    font-weight: bold;
    margin: 10px;
}