.baseForm{
    height: min-content;
    padding: 5em;
    background-color: #0F7795;

    border-radius: 30px;
    border: 3px solid black;
}

.double-border {
    background-color: rgba(197, 205, 213, 0.87);
    border: 3px solid #6b8d87;
    padding: 35px;;
    width: auto;
    height: auto;
    position: relative;
    margin: 0 auto;
}
.double-border:before {
    background: none;
    border: 2px solid #6b8d87;
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    pointer-events: none;
}


.baseForm h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}


.form-buttons{
    margin: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.form-fields{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;

}
.wrapper {
    max-width: 500px;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:-10px;
}
.form>* {
    flex: 1 1 160px;
    margin: 10px;
}


.form-row{
 display: flex;
 flex-direction: column;
}

.form-row-lieu{
    display: flex;
    flex-direction: row;
}

.form-button{
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
}

.baseForm button{
    padding: 10px;
}

.form-error{
    font-weight: bold;
    color: red;
}

.baseForm button[type="submit"]{
    color: #FFFFFF;
    background-color: #8ebf42;
}

.baseForm button[type="reset"]{
    color: #FFFFFF;
    background-color: #cc0000;
}

#btn-newSortie{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

#btn-newSortie input[type="submit"]{
    border: 3px black solid;
    font-weight: bold;
    font-size: xx-large;
    padding: 30px 100px;
    border-radius: 30px;
    background-color: green;
    box-shadow: 10px 5px 5px #111111;
    color: #f1f1f1;
}
#btn-newSortie input[type="submit"]:hover {
    background-color: #8ebf42;
    color: black;

}
.button-form-annuler{
    display: flex;
    justify-content: center;
}

#filtersContainer{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
}

.btn_ajouterLieu{
    border-radius: 20px;
    background-color: #8ebf42;
}