.baseForm{
    height: min-content;
    padding: 5em;
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #f1f1f1;

}

.baseForm h1{
    display: flex;
    justify-content: center;
}

.form-buttons{
    margin: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.form-fields{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}

.form-field{
    display: flex;
    justify-content: space-around;
}

.form-row{

}

.baseForm button{
    padding: 10px;
}

.form-error{
    font-weight: bold;
    color: red;
}

.baseForm button[type="submit"]{
    color: #FFFFFF;
    background-color: #8ebf42;
}
.baseForm button[type="reset"]{
    color: #FFFFFF;
    background-color: #cc0000;
}


