nav section{
    display: flex;
    justify-content: space-between;
}

nav div:last-child{
    text-align: end;
    font-weight: bold;
    font-size: large;
    padding: 1em;
    background-color: rgba(86, 103, 129, 0.25);
    border-radius: 5px;
    border: 1px rgba(86, 88, 129, 0.5) solid;
}

nav p:last-child{
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
}