nav section{
    display: flex;
    justify-content: space-between;
}

nav div:last-child{
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 1em;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 3px #eeeeee solid;
}

nav p:last-child{
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
}