body > .container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 80px 100px 2fr 50px;
    min-height: 100vh;
}
a{
    text-decoration: none;
}

a:hover{
    color: orange;
}
.divSortie p {
    display: flex;
    justify-content: center;
}


.sortieContainer{
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 5px;
    border: 2px rgba(86, 129, 97, 0.5) solid;
}
.filtre-sortie{
    display: flex;
    flex-wrap: wrap;
    width: max-content;

    justify-content: center;
}
.background{
    background: url(../images/bois.png);
    border-radius: 30px;
    border-style: solid;
}
.form-field{
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-weight: bold;
}

.sortie{
    padding: 1em;
    margin-bottom: 0em;
    border-radius: 5px;
    background-color: rgba(143, 175, 192, 0.5);
    border: 2px rgba(86, 129, 97, 0.5) solid;

    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: space-around;
}

.field-titre{
    grid-column: 1 / 2 ;
    text-align: center;
    display: table-column-group;

}

.field-dateDebut{
    grid-column: 2 / 3 ;
    text-align: center;
    align-content: center;
}

.field-dateFin{
    grid-column: 3 / 4 ;
    text-align: center;
    vertical-align: center;
}

.field-Inscriptions{
    grid-column: 4 / 5 ;
    text-align: center;
}

.field-etat{
    grid-column: 5 / 6 ;
    text-align: center;
}

.field-isInscrit{
    grid-column: 6 / 7 ;
    text-align: center;
}

.field-orga{
    grid-column: 7 / 8 ;
    text-align: center;
}

.field-actions{
    grid-column: 8 / 9 ;
    text-align: center;
    align-content: center;
}

/*Détail d'une sortie*/

.detailsSortie{
    height: min-content;
    font-style: italic;
    color: #171515;
    background-color: #4f92a9;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
}

#detailsSortieTitle{
    justify-content: start;
}

.detailsSortie h1{
    transform: rotate(-10deg);
    padding-top: 1em;
    padding-left: 1em;
    align-items: start;
    font-size: 3em;
    font-weight: bolder;
    font-style: italic;
    /*grid-area: 1 / 1 / auto / auto;*/
}

.detailsSortie div{
    margin: 1em;
    align-content: center;
    justify-content: end;
}

#sortieActions{
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    padding-right: 2em;
    padding-bottom: 2em;
    align-items: end;
    justify-content: end;
}

#sortieActions input[type="submit"]{
    width: 15em;
}