{% extends 'base.html.twig'%}

{% block title %}
    ERREUR 404 - Page introuvable
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
    <div class="errorContainer double-border">
        <h1>Erreur 404 - Page introuvable</h1>

        <p>
            Cette page n'existe pas, veuillez vérifier le contenu de l'URL
        </p>
    </div>
{% endblock %}