    <section class="footer">
        <div>
            <h3>© Sortir {{ 'now'|date('Y') }}</h3>
        </div>
        <div>
            <button><a href="{{ path('legal') }}">Mentions légales</a></button>
        </div>
    </section>
